<div class="p-5 text-center bg-image rounded-3">
  <div class="mask" style="background-color: rgba(255, 255, 255, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-black">
        <h1 class="mb-3">About us</h1>
        <h4 class="mb-3">This is a book library to demonstrate the various features of Ruby on rails for cloud application development project<br>
        This application was developed by Robertas Kuchtovas - x20124287<br>
        Please visit the contact page if you have any more questions</h4>
        <a class="btn btn-outline-light btn-lg text-black" href="contact" role="button">Contact us</a>
        <h4 class="mb-3">Here is a random verse from the bible below please enjoy.<br>
        It is written in portugese!</h4>
        <h5><% @a_biblia_digital.each do |verse| %>
    <p><%= verse %></p></h5>
    <% end %>
      </div>
    </div>
  </div>
</div>