<div class = "container">
    <h1>Cloud Library</h1>
    <p>Take a look at the books tab!</p>
    <%= link_to "About us", about_path, class: "btn btn-secondary" %>
    <%= link_to "Contact Us", contact_path, class: "btn btn-primary" %>
    <p class="text-center"><h2>Enjoy a random dog fact on us!</h2>
    <% @dog_fact.each do |facts| %>
    <%= facts %></p>
    <% end %>
</div>