<div class = "container">
    <h1>Cloud Library</h1>
    <p>Take a look at the books tab!</p>
    <%= link_to "About us", about_path, class: "btn btn-secondary" %>
    <%= link_to "Contact Us", contact_path, class: "btn btn-primary" %>
</div>
